services:
  serverstatus-client:
    build:
      context: .
      dockerfile: Dockerfile.client
    image: cppla/serverstatus:client
    container_name: serverstatus-client
    restart: unless-stopped
    network_mode: host
    pid: host
    environment:
      SERVER: "${SERVER:-127.0.0.1}"
      USER: "${USER:-s01}"
      PORT: "${PORT:-35601}"
      PASSWORD: "${PASSWORD:-USER_DEFAULT_PASSWORD}"
      INTERVAL: "${INTERVAL:-1}"
      PROBEPORT: "${PROBEPORT:-80}"
      PROBE_PROTOCOL_PREFER: "${PROBE_PROTOCOL_PREFER:-ipv4}"
      PING_PACKET_HISTORY_LEN: "${PING_PACKET_HISTORY_LEN:-100}"
      CU: "${CU:-cu.tz.cloudcpp.com}"
      CT: "${CT:-ct.tz.cloudcpp.com}"
      CM: "${CM:-cm.tz.cloudcpp.com}"
      CLIENT: "${CLIENT:-linux}"