services:
  serverstatus-client:
    build:
      context: .
      dockerfile: Dockerfile.client
    image: cppla/serverstatus:client
    container_name: serverstatus-client
    restart: unless-stopped
    network_mode: host
    pid: host
    environment:
      SERVER: "${SERVERSTATUS_SERVER:-127.0.0.1}"
      USER: "${SERVERSTATUS_USER:-s01}"
      PORT: "${SERVERSTATUS_PORT:-35601}"
      PASSWORD: "${SERVERSTATUS_PASSWORD:-USER_DEFAULT_PASSWORD}"
      INTERVAL: "${SERVERSTATUS_INTERVAL:-1}"
      PROBEPORT: "${SERVERSTATUS_PROBEPORT:-80}"
      PROBE_PROTOCOL_PREFER: "${SERVERSTATUS_PROBE_PROTOCOL_PREFER:-ipv4}"
      PING_PACKET_HISTORY_LEN: "${SERVERSTATUS_PING_PACKET_HISTORY_LEN:-100}"
      CU: "${SERVERSTATUS_CU:-cu.tz.cloudcpp.com}"
      CT: "${SERVERSTATUS_CT:-ct.tz.cloudcpp.com}"
      CM: "${SERVERSTATUS_CM:-cm.tz.cloudcpp.com}"
      CLIENT: "${SERVERSTATUS_CLIENT:-linux}"
