body {
    background: #212e36 url('../img/dark.png') repeat;
    color: #dcdcdc;
    font-size: 15px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.navbar {
    min-height: 40px;
    background-color: #1B1B1B;
}

.navbar-brand {
    color: #FFF !important;
    padding: 10px;
    font-size: 20px;
}

.dropdown .dropdown-toggle {
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdown-menu > li > a {
    color: #FFF !important;
    background-color: #222222 !important;
}

.dropdown-menu > li > a:hover {
    color: #FFF !important;
    background: #000 !important;
}

.dropdown-menu {
    background: #222 !important;
    background-color: #222222 !important;
}

.navbar-inverse .navbar-inner {
    background-color: #1B1B1B;
    background-image: linear-gradient(to bottom, #212e36, #212e36);
    background-repeat: repeat-x;
    border-color: #252525;
}

.content {
    background: #212e36;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #212e36;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
}

.table {
    background-color: #212e36 !important;
    margin-bottom: 0;
    border-collapse: collapse;
    border-radius: 3px;
    width: 100%;
}

.table th, .table td {
    background-color: #212e36 !important;
    color: #dcdcdc !important;
    text-align: center;
    padding: 8px;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #212e36;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #212e36;
}

.progress {
    margin-bottom: 0;
    background: #363b40;
}

.progress-bar {
    overflow: visible;
}

.table-hover tbody tr:hover td {
    background: #414141;
}

tr.even.expandRow:hover {
    background: #212e36 !important;
}

tr.odd.expandRow:hover {
    background: #212e36 !important;
}

.expandRow td {
    padding: 0 !important;
    border-top: 0 !important;
}

#month_traffic {
    min-width: 85px;
    max-width: 95px;
}

#traffic, #network {
    width: 170px;
}

#cpu, #ram, #hdd {
    min-width: 45px;
    max-width: 68px;
}

#ping {
    width: 115px;
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 10px;
    }

    .content {
        padding: 0;
    }
    #traffic, #network {
        width: 120px;
    }
    #type, #location, #uptime, #ping {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 10px;
    }

    .content {
        padding: 0;
    }
    #traffic, #network {
        width: 120px;
    }
    #month_traffic, #type, #location, #uptime, #ping {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 620px) {
    body {
        font-size: 10px;
    }

    .content {
        padding: 0;
    }
    #network {
        width: 120px;
    }
    #month_traffic, #type, #location, #uptime, #traffic, #ping {
        display: none;
        visibility: hidden;
    }
}

.navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.5;
}

.navbar-nav .dropdown-toggle::after {
    vertical-align: 0.15em;
}
