body {background: #ebebeb url(../img/light.png);}
.layui-panel {overflow-x: auto;}
.layui-table th, .layui-table td { text-align: center;white-space: nowrap; }
.layui-progress-text { color: #000 !important; }
.collapse { text-align: center; }